/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require css/bootstrap.min
 */

.btn.outline {
    background: none;
    padding: 12px 22px;

}

.btn-primary.outline {
    border: 2px solid #D3D3D3;
    color: #0099cc;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 18px;


}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;

}

.btns {  margin-bottom: 7;}