<h3><div class="container">

<p class="text-capitalize text-danger"> <%=@status%> </p>
<p class="text-success"><%="Project Path:#{Rails.root}" %></p>
<p class="text-warning"><%= `ip route get 8.8.8.8 | awk '{print $NF; exit}'` %></p>
</br>
</br>


<%= link_to "Back",root_path,:class => 'btn btn btn-primary outline btns' %>&nbsp;
</div>  </h3>